/*!CK:2218115424!*//*1434123707,*/

._56hv,._56hy{background-color:#fff;border:1px solid #ccc;display:inline-block;margin-left:7px;margin-right:2px;outline:none;padding:2px;position:relative}._56hv i,._56hy{background-color:transparent;background-position:center 25%;background-repeat:no-repeat;background-size:cover;display:block;height:38px;width:52px}._56hy{position:absolute;-webkit-transform:rotate(5deg)}
._5d0n{background-color:#f6f7f8;cursor:pointer;padding:4px 20px 6px 8px}._5d0n:hover{background-color:#f6f7f8}._5d0t{color:#627aad;display:block}._5d0t:hover{text-decoration:underline}._5d0o{background-color:#d3d6db;height:50px;line-height:50px;margin-right:8px;text-align:center;width:50px}._5d0q{vertical-align:middle}
._1xfk{margin-bottom:-1px}

#bootloader_FOFbS { height: 42px; }
.bootloader_FOFbS { display:block !important; }